*{box-sizing: border-box;}

body{
    margin : 0;
}

.parent {
    background-color: #23424A;
    padding : 50px;

    /* width: 500px; */
    width: 80%;
    margin: 0 auto;
}

.child {
   
    background-color: aqua;

    /* Good idea to avoid heights */
    /* height: 250px; */
    /* use padding instead of setting height */
    padding : 5em;

    width: 50%; /* height width related to parent div */
}